---
layout: default
---

<p><b>PERSONAL INTERESTS</b><br/>
Apart from working, I enjoy programming for myself and continue additionnal trainings. I like listening to music, reading and playing video games in my free time and I follow a number of sci-fi, thriller and fantasy genre movies and series.</p>
<br/>
<p><b>PROFESSIONAL PROJECTS</b><br/>
I am very curious and love learning every day.<br/>I'm currently learning cybersecurity to improve my skills and to bring more safety in businesses.<br/></p>
<br/>
<p><b>TRYHACKME EXPERIENCE</b><br/>
I'm currently learning cybersecurity with TryHackMe learning paths. I have already completed 8 of the 8 learning paths available. TryHackMe also have badges for successfull experiences that you can view on my profile.<br/></p>

<script src="https://tryhackme.com/badge/270384"></script>