---
layout: default
---

<div id="certs">  
    <h3> OpenClassRoom </h3>  <!-- for create a heading --> 
    <ul> <!-- create the list of posts -->
        <li>
            <a href="#">cert1</a>
        </li>
        <li>
            <a href="#">cert2</a>
        </li>
    </ul>

    <h3> TryHackMe </h3>  <!-- for create a heading --> 
    <ul> <!-- create the list of posts -->
        <li>
            <a href="#">cert1</a>
        </li>
        <li>
            <a href="#">cert2</a>
        </li>
    </ul>

    <h3> Tehtris </h3>  <!-- for create a heading --> 
    <ul> <!-- create the list of posts -->
        <li>
            Tehtris UES niveau 2 (2022/12/23 - 2024/12/23)
        </li>
        <li>
            Tehtris SOAR niveau 2 (2022/12/23 - 2024/12/23)
        </li>
        <li>
            Tehtris DATA SCIENCE niveau 2 (2022/12/23 - 2024/12/23)
        </li>
        <li>
            Tehtris XDR niveau 1 (2022/12/23 - 2024/12/23)
        </li>
    </ul>
 </div>