---
layout: default
---
<p><font style="font-size: 14px;">January 2021 - Present</font>
  <br/>
  <b>TryHackMe - THM</b>
  <br/>  
  - Learning Path -
  <br/>
  Self teaching cybersecurity with tryhackme rooms and learning paths.
  <br/>
</p><br/>

<p><font style="font-size: 14px;">September 2017 - June 2019</font>
  <br/>
  <b>Ecole Pratique Des Hautes Etudes Commerciales - EPHEC</b>
  <br/>
  - BACHELIER EN TECHNOLOGIE DE L’INFORMATIQUE -
  <br/>
  Graduate.
  <br/>
</p><br/>

<p><font style="font-size: 14px;">September 2012 - June 2017</font>
  <br/>
  <b> Ecole Polytechnique de Louvain - EPL</b>
  <br/>
  - BACHELIER EN INGÉNIEUR CIVIL -
  <br/>
  Major in Computer Science and minor in electricity. Not ended.
  <br/>
</p><br/>