---
layout: default
---

<h4>July 2022 - Present</h4>
<p>
  <b>INE - EJPT</b>
  <br/>
  Penetration Testing Student learning path.
  <br/>
</p>

<h4>January 2021 - Present</h4>
<p>
  <b>TryHackMe - Learning Path</b>
  <br/>
  Self teaching cybersecurity with tryhackme rooms and learning paths.
  <br/>
</p>

<h4>September 2017 - June 201</h4>
<p>
  <b>Ecole Pratique Des Hautes Etudes Commerciales - EPHEC</b>
  <br/>
  - Bachelier en Technologie de l'Informatique -
  <br/>
  Graduate.
  <br/>
</p>

<h4>September 2012 - June 2017</h4>
<p>
  <b> Ecole Polytechnique de Louvain - EPL</b>
  <br/>
  - Bachelier en Ingénieur Civil -
  <br/>
  Major in Computer Science and minor in electricity. Not ended.
  <br/>
</p>