---
layout: default
---

<p><font style="font-size: 14px;">
    July 1, 2019 - present
</font><br/>
<b>ICT INTEGRATOR<br/>ASSYST EUROPE, BE -</b><br/>
Actually working as ICT Integrator at Assyst Europe in a team, managing networks infrastructure of clients like Law Firms, European Representation in Brussel and PME's.</p>

<p><font style="font-size: 14px;">
    February 11, 2019 - May 17, 2019
</font><br/>
<b>STUDENT<br/>- CHU-UCL MONT-GODINNE, BE - </b><br/>
Internship at the University Hospital CHU-UCL Mont-Godinne. Development and design of a medical application in Java for the manual liver segmentation and Design of an Artificial Intelligence for automatic liver segmentation, developed in Python.<br/></p>

<p><font style="font-size: 14px;">
    February 4, 2019 – February 9, 2019
</font><br/>
<b>STUDENT<br/>- EPHEC, BE -</b><br/>
Configuration of an enterprise network as part of a course at EPHEC (Network diagrams, cabling, routing, AD, DNS and DHCP services)<br/></p>

<p><font style="font-size: 14px;">
    April 9, 2018 - April 13, 2018
</font><br/>
<b>STUDENT<br/>- CARDIFF UNIVERSITY, UK -</b><br/>
International Week in Cardiff : design of a web-gaming oriented game.</p>

<p><font style="font-size: 14px;">
    April 3, 2018 - April 6, 2018
</font><br/>
<b>STUDENT<br/>- TECHNOFUTURTIC, BE -</b><br/>
Training and C# programming <br/></p>

<p><font style="font-size: 14px;">
    April 1, 2018 - April 30, 2018
</font><br/>
<b>JUNIOR WEB DEVELOPER<br/>- PERSONAL PROJECT -</b><br/>
Design of a Web Application that automatically populates the allergens of given products and allows the addition of new products in the product file. 
I used HTML5, CSS3, JavaScript, JQuery and JQuery-ui to build this project.</p>