---
layout: default
---

<h4>ICT INTEGRATOR - Assyst Europe, BE</h4>
<p><font style="font-size: 14px;">
    July 1, 2019 - present
</font><br/>
Actually working as ICT Integrator at Assyst Europe in a team, managing networks infrastructure of clients like Law Firms, European Representation in Brussel and PME's.</p>

<h4>STUDENT - CHU-UCL Mont-Godinne, BE </h4>
<p><font style="font-size: 14px;">
    February 11, 2019 - May 17, 2019
</font><br/>
Internship at the University Hospital CHU-UCL Mont-Godinne. Development and design of a medical application in Java for the manual liver segmentation and Design of an Artificial Intelligence for automatic liver segmentation, developed in Python.<br/></p>

<h4>STUDENT - EPHEC, BE</h4>
<p><font style="font-size: 14px;">
    February 4, 2019 – February 9, 2019
</font><br/>
Configuration of an enterprise network as part of a course at EPHEC (Network diagrams, cabling, routing, AD, DNS and DHCP services)<br/></p>

<h4>STUDENT - Cardiff University, UK</h4>
<p><font style="font-size: 14px;">
    April 9, 2018 - April 13, 2018
</font><br/>
International Week in Cardiff : design of a web-gaming oriented game.</p>

<h4>STUDENT - Technofuturtic, BE</h4>
<p><font style="font-size: 14px;">
    April 3, 2018 - April 6, 2018
</font><br/>
Training and C# programming </p>

<h4>JUNIOR WEB DEVELOPER - Personal Project</h4>
<p><font style="font-size: 14px;">
    April 1, 2018 - April 30, 2018
</font><br/>
Design of a Web Application that automatically populates the allergens of given products and allows the addition of new products in the product file. 
I used HTML5, CSS3, JavaScript, JQuery and JQuery-ui to build this project.</p>